@model RestoHub.ViewModels.RestaurantViewModel

@{ 
    ViewBag.Title = "Restaurant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Restaurant Details - @Model.Name</h1>
</div>