@model HomePageDataViewModel
@{
    ViewBag.Title = "Home";
}

<div>
    <h1>Restaurants</h1>
</div>
<div class="col-md-6">
    <table class="table table-striped">
        @{

            <thead>
                <tr>
                    <th>
                        Restaurant Name
                    </th>
                    <th>
                        Cuisine
                    </th>
                    <th>
                        View
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            foreach (var restaurant in Model.Restaurants)
            {
                <tr>
                    <td>

                        @restaurant.Name

                    </td>

                    <td>
                        @restaurant.Cuisine
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@restaurant.Id">View</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@restaurant.Id">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>

            }
        }
    </table>
</div>
